.invalid-feedback{
  font-size: 15px;
  color: red;
}
.form-card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center{
  display: flex;
  justify-content: space-around;
}
.form-header{
  width: 100%;
  text-align: center;
}
