<div *ngIf="selectedCemetery2" class="cemetery-description">
  <h1 style="cursor: pointer" mat-line (click)="goBack()"><mat-icon>keyboard_backspace</mat-icon>Back</h1>
  <h2 mat-line>{{selectedCemetery2.name}}</h2>
  <p style="font-size: 12px" mat-line> {{selectedCemetery2.description}} </p>
</div>
<div *ngIf="selectedCemetery2" class="cemetery-map">
  <mat-grid-list cols="{{selectedCemetery2.area.length}}" rowHeight="3rem" [gutterSize]="'12px'">
    <div *ngFor="let tombstones of selectedCemetery2.area; let xIndex = index">
      <div *ngFor="let tombstone of tombstones; let yIndex = index">
        <mat-grid-tile
            #tooltip="matTooltip"
            matTooltip="{{tombstone.fieldEnum === _fieldEnum.empty ? 'Book it...' : (tombstone.fieldEnum === _fieldEnum.tombstone && tombstone.tombstone) ? tombstone.tombstone.guest ? (tombstone.tombstone.guest?.firstName + ' ' + tombstone.tombstone!.guest!.lastName!)  : 'Reserved' : null}}"
            [matTooltipPosition]= "'below'"
            matTooltipClass="tooltip"
            matTooltipHideDelay="100"
          [class.guest]="tombstone.fieldEnum === _fieldEnum.tombstone && tombstone.tombstone && tombstone.tombstone.guest"
          [class.reserved]="tombstone.fieldEnum === _fieldEnum.tombstone && tombstone.tombstone && !tombstone.tombstone.guest"
          [class.not_null]="tombstone.fieldEnum !== _fieldEnum.forbidden"
          (click)="tombstone.fieldEnum === _fieldEnum.empty ? createNewTombstone(xIndex, yIndex) : (tombstone.fieldEnum === _fieldEnum.tombstone && tombstone.tombstone) ? openDialog(tombstone.tombstone.guest) : false">
          <p *ngIf="tombstone.fieldEnum === _fieldEnum.empty">
            Book it...
          </p>
          <div *ngIf="tombstone.fieldEnum === _fieldEnum.tombstone && tombstone.tombstone">
            <p *ngIf="tombstone.tombstone.guest">
              {{tombstone.tombstone.guest?.firstName}}
              {{tombstone.tombstone.guest?.lastName}}
            </p>
            <p *ngIf="!tombstone.tombstone.guest">
              Reserved
            </p>
          </div>
        </mat-grid-tile>
      </div>
    </div>
  </mat-grid-list>
</div>
